<mat-card>
  <mat-card-header>
    <mat-card-title> Add a new Item! </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form p1">
      <div class="flex container">
        <mat-form-field class="example-full-width">
          <mat-label>Write a FirstName...</mat-label>
          <input
            [(ngModel)]="item.firstName"
            name="title"
            matInput
            placeholder="Ex. Markus"
          />
        </mat-form-field>
      </div>
      <div class="flex container">
        <mat-form-field class="example-full-width">
          <mat-label>Write a LastName...</mat-label>
          <input
            [(ngModel)]="item.lastName"
            name="title"
            matInput
            placeholder="Ex. Ederl"
          />
        </mat-form-field>
      </div>
      <div class="flex container">
        <mat-form-field class="example-full-width">
          <mat-label>Write a eMail...</mat-label>
          <input
            [(ngModel)]="item.email"
            name="title"
            matInput
            placeholder="Ex. markus@ederl.com"
          />
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      matInput
      placeholder="Ex. It makes me feel..."
    >
      Add
    </button>
  </mat-card-actions>
</mat-card>
